#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app>img {
    width: 3rem;
}

#app>h2 {
    padding-top: 3rem;
    align-self: flex-start;
}

#app>p {
    margin-top: 1rem;
    align-self: flex-start;
    text-align: justify;
    width: 512px;
}

#app .placeholdder {
    color: var(--cor-dark-gray);
    user-select: none;
}