#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app>img {
    width: 3rem;
}

#app>h2 {
    padding-top: 2rem;
    align-self: flex-start;
}

#app>p {
    margin-top: 1rem;
    align-self: flex-start;
    text-align: justify;
    width: 28rem;
}

#app .placeholder {
    color: var(--cor-dark-gray);
    user-select: none;
}

@media (max-width: 768px) {
    #app>img {
        width: 4rem;
    }

    #app>h2 {
        font-size: 1.5rem;
    }
}