#form {
    margin-top: 2rem;
    display: flex;
    gap: 0.313rem;
}

#form>input {
    background-color: var(--cor-gray) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--cor-gray) inset !important;
    color: var(--cor-primaria) !important;
    padding: 0 1rem;
    width: 23rem;
    border: none;
    border-radius: 0.7rem;
}

#form>input:focus {
    outline: 2px solid var(--cor-dark-gray);
}

#form>button {
    background-color: var(--cor-tercearia);
    width: 3.85rem;
    height: 2.7rem;
    border: none;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

#form>button>img {
    height: 1.7rem;
    width: 1.7rem;
}

@media (max-width: 600px) {
    #form {
        width: 100%;
    }

    #form>input {
        width: 100%;
    }
}